@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap");

#root {
  margin: 0;
  padding: 0;
  text-align: center;
}
:root {
  /*      typography */

  --fs-h1: 38px;
  --fs-h2: 32px;
  --fs-h3: 24px;
  --fs-h4: 22px;

  --fs-p1: 18px;
  --fs-p2: 16px;
  --fs-p3: 14px;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey: #a0a0a0;

  --color-primary: #ed5729;

  --color-primary-rgb: 237, 87, 41;
  --color-grey-rgb: 160, 160, 160;

  --font-weight-bold: 700;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-light: 300;

  --rounded: 30px;
  --pd-page: 20px;
  --pd-thin: 10px;
  --header-height: 140px;

  --nav-column-width: 260px;
  --column-gap: 40px;
  --rounded-sm: 6px;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --font-alt: "Caveat", cursive;
  --font-prime: "Open Sans", sans-serif;
}

.font-sans {
  font-family: var(--font-prime);
  font-size: var(--fs-h2);
  font-weight: var(--font-weight-medium);
}
.font-handwriting {
  font-family: var(--font-alt);
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
